:root {
    --primary: rgb(34, 2, 2);
    --white_1: rgb(199, 199, 199);
    --white_2: rgb(255, 255, 255);
}

body {
    background: linear-gradient(180deg, var(--primary) 0.02%, rgba(4, 3, 3, 1)100%);
    width: 99%;
    height: 100vh;
    color: var(--white_2);
    font-family: 'Inconsolata', monospace;
    position: relative;
    background-size: 400% 400%;
}

a {
    text-decoration: none;
    color: var(--white_2);
}

.nav__container {
    position: fixed;
    display: block;
    background-color: #000;
    width: 100%;
    padding: 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 5rem;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-size: 1.5rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 101%;
}

.text__header {
    text-align: center;
}

.title__header {
    background-color: #000;
    margin: 0;
    padding: 4rem;
    font-size: 3rem;
}

.hero__header img {
    display: block;
    width: 100%;
    margin: 0;
    background-color: #000;
}

.svg-computer {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 101%;
}

.dark-bg {
    background-color: #000;
}

.about {
    text-align: center;
    font-size: 1.5rem;
}


.about__title {
    font-size: 2rem;
    margin: 5rem;
}

.about__content {
    text-align: center;

}